.page-header{
    position: relative;
}
.main-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: 768px) {
    padding-top: 20px; 
    padding-left: 34px;
    padding-right: 34px;
    }

    @media (min-width: 1200px) {
        padding-top: 8px;
        padding-left: 16px;
        padding-right: 16px;
    }

}
.nav-menu{
    display: flex;
}

.nav-menu__list{
    display: none;

    @media (min-width: 1200px){
        display: flex;
        align-items: center;
        gap: 27px;
        margin-left: 269px;
    }
}

.nav-menu__link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: #FCFCFC;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #F8D24E;
    }

}

.buy-btn{
    display: none;

    @media (min-width: 768px){
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;

        width: 152px;
        height: 42px;
    
        padding: 0;
        border: 1px solid transparent;
        margin-left: 32px;
    
        font-weight: 600;
        font-size: 14px;
        line-height: 1.2;
        color: #131313;
        background-color: #F8D24E;
        border-radius: 10px;
    }

    @media (min-width: 1200px){
        margin-left: auto;
    }
  

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover{
        background-color: #0A8817;
        outline: none;
    }
    &:focus {
        background-color: #0A8817;
        color: #FCFCFC;
        outline: none;
    }
    &:disabled{
        background-color: #ABABAB; 
    }
}
.buy-btn__icon{
    stroke: currentColor;
}

.menu-toggle {
    min-height: 32px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
   
    @media (min-width: 1200px) {
        display: none;
    }
}

// mobile menu
.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #85A279;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 20px;
}
.menu-logo{
    position: absolute;
    top: 11px;
    left: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    border: none;
    outline: none;
}
.mobile-menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 100px;

@media (min-width: 768px) {
    gap: 40px;
    }
}
.mobile-menu__link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.22;
    color: #FCFCFC;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #131313;
    }
    
@media (min-width: 768px) {
        font-size: 48px;
    }
}

.mobile-buy-btn{
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    width: 152px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 63px;
    padding: 0;
    border: 1px solid transparent;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: #131313;
    background-color: #F8D24E;
    border-radius: 10px;
        
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #0A8817;
        outline: none;
    }

    &:focus {
        background-color: #0A8817;
        color: #FCFCFC;
        fill: #FCFCFC;
        outline: none;
    }

    &:disabled {
        background-color: #ABABAB;
    }

@media (min-width: 768px) {
        display: none;
    }

}
