

.modal-location{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 568px;
    height: 458px;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    padding:32px 60px;
    z-index: 10000;
}

    @media screen and (max-width:768px){
        .modal-location{
        width: 280px;
        height: 365px;
        transform: translateX(-50%);
        padding:28px 28px;
        }
    }
    

.modal-location__close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    left: auto;
    background-color:transparent;
    border:none;
}
@media screen and (max-width:768px){
    .modal-location__close-btn{
        top: 8px;
    right: 8px;
    }  
}

.modal-location__title{
font-family: 'Seymour One';
font-weight: 400;
font-size: 20px;
line-height:1.4;
text-align: center;
color: #131313;
margin-bottom:32px;
}

@media screen and (max-width:768px){
    .modal-location__title{
        font-size: 16px;
        margin-bottom:20px;
    } 
}

.modal-location__card{
    margin-bottom:32px;
    width:448px;
    height:260px;
}

.modal-location__map{
    width:448px;
    height:260px;  
}

@media screen and (max-width:768px){
    .modal-location__card{
        margin-bottom:24px;
        width: 224px;
        height: 199px;
        margin-left: auto;
        margin-right: auto;
}
.modal-location__map{
    width:224px;
    height:199px;  
}}


.modal-location__button{
    display: block;
    margin:0 auto;
    width: 145px;
    height: 42px;
    background: #F8D24E;
    border-radius: 10px;
    text-decoration: none;
    color: #131313;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    border:0;
    padding:12px 34px;
}

.modal-location__button:hover {
    background: #0A8817;
}

.modal-location__button:focus {
    color: #FCFCFC;
        background: #0A8817;
}

@media screen and (max-width:768px){
    .modal-location__button{
    width: 134px;
    height: 42px;
    font-size: 12px;
    }
}

