// 0px - 767px

@media screen and (max-width:767px) {
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 2000;
        

    }

    .backdrop.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .modal-product {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 280px;
        max-height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 28px;
        padding-bottom: 32px;
        background: #FCFCFC;
        border: 2px solid #F8D24E;
        border-radius: 10px;
        overflow-y: auto;

    }

    .modal-header-close-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        padding: 0;
        border: 0;

    }

    .product-name-form {
        font-family: 'Seymour One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        align-items: center;
        text-align: center;
        color: #131313;
        margin-bottom: 20px;
    }

    .foto-title {
        margin-bottom: 28px;
        display: flex;
        justify-content: center;


    }

    .product-modal-images {
        background-image: url(../images/modal-product/foto-modal-product.png);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        width: 131px;
        height: 131px;
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

    }

    .section-kal {
        margin-bottom: 39px;
    }

    .product-group-kal {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;
    }

    .product-group-amount {
        width: 53px;
        height: 72px;
        border: 2px solid #9CBE8F;
        border-radius: 40px;

        &::before {
            display: block;
            margin-bottom: -35px;
            content: "";
            background-repeat: no-repeat;
            background-position: center;
            width: 43px;
            height: 43px;
            border-radius: 50%;
            background: #9CBE8F;
            border: 2px solid #9CBE8F;
            box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
            margin-left: auto;
            margin-right: auto;
        }
    }

    .product-name-amount {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 28px;
        text-align: center;
        color: #131313;
        padding-bottom: 16px;
    }

    .product-name-kal {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #131313;
        width: 29px;
        height: 12px;
        margin-bottom: 8px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-ingredients {
        margin-bottom: 48px;
    }

    .product-group {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #131313;
        justify-content: center;
        margin-bottom: 24px;
    }

    .product-group-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 11px;
    }

    .product-name-ingredient {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 176%;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #131313;

    }

    .contact-form {
        display: flex;
        flex-direction: column;
    }


    .coment {
        height: 84px;
        resize: none;
        padding-top: 11px;
    }

    .contact {
        height: 42px;
    }

    .modal-form-check {
        position: absolute;
        appearance: none;

    }

    .form-input {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #131313;
        padding-right: 12px;
        padding-left: 12px;
        width: 240px;
        background: rgba(248, 210, 78, 0.1);
        border: 1px solid #84A178;
        border-radius: 10px;
        margin-bottom: 16px;
    }

    .contact-form-header-submit {
        background: #F8D24E;
        border-radius: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #131313;
        border: none;
        width: 114px;
        height: 42px;
        margin-left: auto;
        margin-right: auto;
    }
}

// 768px -
@media screen and (min-width: 768px) {
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 100;
        transition: opacity .5s linear, visibility .5s linear, transform .5s linear;

    }

    .backdrop.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .modal-product {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 568px;
        max-height: 100%;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 32px;
        padding-bottom: 32px;
        background: #FCFCFC;
        border: 2px solid #F8D24E;
        border-radius: 10px;
        overflow-y: auto;

    }

    .modal-header-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        padding: 0;
        border: 0;

    }

    .product-name-form {
        font-family: 'Seymour One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        align-items: center;
        text-align: center;
        color: #131313;
        margin-bottom: 24px;
    }

    .foto-title {
        margin-bottom: 24px;
        display: flex;
        justify-content: center;


    }

    .product-modal-images {
        background-image: url(../images/modal-product/foto-modal-product.png);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        width: 131px;
        height: 131px;
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

    }

    .section-kal {
        margin-bottom: 48px;
    }

    .product-group-kal {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;
    }

    .product-group-amount {
        width: 53px;
        height: 72px;
        border: 2px solid #9CBE8F;
        border-radius: 40px;

        &::before {
            display: block;
            margin-bottom: -35px;
            content: "";
            background-repeat: no-repeat;
            background-position: center;
            width: 43px;
            height: 43px;
            border-radius: 50%;
            background: #9CBE8F;
            border: 2px solid #9CBE8F;
            box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
            margin-left: auto;
            margin-right: auto;
        }
    }

    .product-name-amount {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 28px;
        text-align: center;
        color: #131313;
        padding-bottom: 19px;
    }

    .product-name-kal {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #131313;
        width: 29px;
        height: 12px;
        margin-bottom: 8px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-ingredients {
        margin-bottom: 48px;
    }

    .product-group {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #131313;
        justify-content: center;
        margin-bottom: 24px;
    }

    .product-group-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 11px;
    }

    .product-name-ingredient {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 176%;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #131313;

    }

    .contact-form {
        display: flex;
        flex-direction: column;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 368px;
        gap: 16px;

    }


    .coment {
        height: 84px;
        resize: none;
        padding-top: 11px;
        margin-bottom: 32px;

    }

    .contact {
        height: 42px;
    }

    .modal-form-check {
        position: absolute;
        appearance: none;

    }

    .form-input {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #131313;
        padding-right: 12px;
        padding-left: 12px;
        width: 368px;
        background: rgba(248, 210, 78, 0.1);
        border: 1px solid #84A178;
        border-radius: 10px;

    }

    .contact-form-header-submit {
        background: #F8D24E;
        border-radius: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #131313;
        border: none;
        width: 114px;
        height: 42px;
        margin-left: auto;
        margin-right: auto;
    }
}

.modal-product {
    z-index: 100;
}