.about {
<<<<<<< HEAD
  background-color: #84A178;
  color: #FCFCFC;
=======
  background-color: var(--background-color-green);
  color: var(--title-color-light);
>>>>>>> 0ceac82ef7823b0a18a3770fd588d705833f4dc7
}

.about__title {
  padding-top: 12px;
  padding-bottom: 54px;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.about__label {
  padding-top: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
}

<<<<<<< HEAD
@media screen and (max-width: 480px) {
  .about__description_mobile {
    display: none;
  }
}
=======
.about__button {
  width: 164px;
  height: 42px;
  background-color: var(--accent-color);
  border: 0;
  border-radius: 10px;
  color: var(--black);
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
}
.about__button:hover {
  background-color: var(--btn-color-hover);
}
.about__button:focus {
  background-color: var(--btn-color-focus);
  color: var(--text-color-light);
}
.about__button:disabled {
  background-color: var(--btn-color-disabled);
}

>>>>>>> 0ceac82ef7823b0a18a3770fd588d705833f4dc7
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
<<<<<<< HEAD
  padding-left: 50px;
  padding-right: 50px;
=======
>>>>>>> 0ceac82ef7823b0a18a3770fd588d705833f4dc7
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.04em;
}
.about__content::before {
  content: "";
  border: 0px;
  border-radius: 50%;
  display: inline-block;
  align-self: center;
  background-size: cover;
  background-position: center;
}

.about__description {
  display: flex;
  flex-direction: column;
  gap: 3.83px;
  justify-content: center;
<<<<<<< HEAD
}

=======
  padding-left: 35px;
  padding-right: 35px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 158, 124, 0.4);
  z-index: 5;
  transition: opacity 500ms linear, visibility 500ms linear, transform 500ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color-light);
  width: 280px;
  height: 459px;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  padding: 28px 28px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--text-color-dark);
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.375;
}

.modal__form-title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.modal__close-icon {
  fill: var(--text-color-dark);
  border: 0;
  transition: fill var(--transition-timing-function);
}
.modal__close-btn:hover .modal__close-icon {
  fill: var(--accent-color);
}

.video-clip__container {
  overflow: hidden;
  width: 224px;
  height: 199px;
  background-color: var(--background-color-green);
  border-radius: 10px;
}

.video-clip__item {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 480px) {
  .about__description_mobile {
    display: none;
  }
}
>>>>>>> 0ceac82ef7823b0a18a3770fd588d705833f4dc7
@media screen and (max-width: 767px) {
  .about__content::before {
    width: 279px;
    height: 279px;
    margin-bottom: 40px;
<<<<<<< HEAD
    box-shadow: 0 -21.82 0 0 #F8D24E;
=======
    box-shadow: 0 -21.82 0 0 rgba(248, 210, 78, 0.7);
>>>>>>> 0ceac82ef7823b0a18a3770fd588d705833f4dc7
    background-image: url(../images/about/cowmobile.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .about__content::before {
    background-image: url(../images/about/cowmobile@2x.jpg);
  }
}
@media screen and (max-width: 767px) {
  .about__button {
<<<<<<< HEAD
    width: 164px;
    height: 42px;
=======
>>>>>>> 0ceac82ef7823b0a18a3770fd588d705833f4dc7
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .about__title {
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 79px;
    font-size: 34px;
    line-height: 1.26;
    letter-spacing: 0.06em;
  }
  .about__label {
    font-size: 22px;
    line-height: 1.23;
  }
  .about__description {
<<<<<<< HEAD
    width: 336px;
    gap: 8px;
    text-align: left;
    margin-left: 32px;
  }
  .about__button {
    width: 164px;
    height: 42px;
    margin-top: 48px;
=======
    width: 50%;
    gap: 8px;
    text-align: left;
  }
  .about__button {
    margin-top: 40px;
>>>>>>> 0ceac82ef7823b0a18a3770fd588d705833f4dc7
  }
  .about__content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 176%;
    padding: 0px;
  }
  .about__content::before {
    width: 330px;
    height: 330px;
    margin-bottom: 0;
<<<<<<< HEAD
    box-shadow: 0 -25.88 0 0 #F8D24E;
=======
    box-shadow: 0 -25.88 0 0 rgba(248, 210, 78, 0.7);
>>>>>>> 0ceac82ef7823b0a18a3770fd588d705833f4dc7
    background-image: url(../images/about/cowtablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .about__content::before {
    background-image: url(../images/about/cowtablet@2x.jpg);
  }
}
<<<<<<< HEAD
=======
@media screen and (min-width: 768px) {
  .modal {
    width: 568px;
    height: 449px;
    padding: 32px 60px;
  }
}
@media screen and (min-width: 768px) {
  .modal__form {
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .modal__form-title {
    font-size: 20px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 768px) {
  .modal__close-btn {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 768px) {
  .video-clip__container {
    width: 448px;
    height: 205px;
  }
}
>>>>>>> 0ceac82ef7823b0a18a3770fd588d705833f4dc7
@media screen and (min-width: 1200px) {
  .about__title {
    padding-bottom: 121px;
    font-size: 36px;
  }
  .about__label {
    font-size: 30px;
  }
  .about__description {
    width: 463px;
<<<<<<< HEAD
    margin-left: 100px;
=======
    margin-left: 65px;
>>>>>>> 0ceac82ef7823b0a18a3770fd588d705833f4dc7
  }
  .about__content {
    font-size: 14px;
    line-height: 194%;
  }
  .about__content::before {
    width: 490px;
    height: 490px;
<<<<<<< HEAD
    box-shadow: 0 -39 0 0 #F8D24E;
=======
    box-shadow: 0 -39 0 0 rgba(248, 210, 78, 0.7);
>>>>>>> 0ceac82ef7823b0a18a3770fd588d705833f4dc7
    background-image: url(../images/about/cowdesktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about__content::before {
    background-image: url(../images/about/cowdesktop@2x.jpg);
  }
}/*# sourceMappingURL=about.css.map */