.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.advantages__tit {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 18px;
}

.advantages__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  text-align: center;
  color: #fcfcfc;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages {
  display: flex;
  background-color: #84a178;
  padding-top: 40px;
  padding-bottom: 60px;
}

.icon-advantages {
  margin-bottom: 16px;
}

.advantages__cow::before {
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages-img/cow.png);
  display: flex;
}

.advantages__dumbbell::before {
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages-img/dumbbell.png);
  display: flex;
}

.advantages__ice-cream::before {
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages-img/ice-cream.png);
  display: flex;
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 48px;
    padding-bottom: 204px;
  }

  .icon-advantages {
    margin-bottom: 32px;
  }

  .advantages__list {
    display: flex;
  }

  .advantages__item {
    justify-content: center;
    margin-right: 80px;
    margin-bottom: 0px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .advantages__tit {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
  }

  .advantages__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;
    text-align: center;
    color: #fcfcfc;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    justify-content: center;
    margin-right: 32px;
  }

  .icon-advantages {
    margin-bottom: 40px;
  }

  .advantages {
    padding-top: 60px;
    padding-bottom: 180px;
  }

  .advantages__tit {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    text-align: center;
    letter-spacing: 0.04em;
  }

  .advantages__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fcfcfc;
  }
}