.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.contacts {
    background-color: rgba(132, 161, 120, 1);
}

.locations-list__item {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 280px;
    background-color: #fff;
    border-radius: 24px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.locations-list__title {
    background-color: #F8D24E;
    border-radius: 4px;
    text-align: center;
    width: 80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    align-items: center;
    letter-spacing: 0.04em;
    color: #131313;
    margin-bottom: 20px;
}

.food-truck {
    width: 138px;
}

.locations-address__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    align-items: center;
    letter-spacing: 0.04em;
    color: #131313;
    margin-bottom: 8px;
}

.locations-address__link {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 183%;
        letter-spacing: 0.04em;
        color: #D6936D;
}

.locations-address {
    margin-bottom: 0px;
}

.contacts-schedule__day {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #131313;
}

.contacts-schedule__time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #ABABAB;
}

.contacts-schedule__item-one {
    margin-top: 24px;
    margin-bottom: 8px;
}

.contacts-schedule__item-two{
    margin-bottom: 0px;
}

.detail-contacts__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #131313;
}

.detail-contacts__item {
    margin-top: 24px;
}

@media screen and (min-width: 768px) {
    .locations-list{
        display: flex;
        margin-bottom: 60px;
    }
    
    .locations-list__item{
        width: 224px;
        height: 528px;

        &:not(:last-child) {
                margin-right: 16px;
            }
    }

    .locations-list__title {
        width: 73px;
        font-size: 16px;
        margin-bottom: 32px;
    }

    .locations-address__title{
        margin-bottom: 12px;
    }

    .detail-contacts__link {
        display: block;
        margin-bottom: 8px;

        &:not(:last-child) {
            margin-top: 32px;
        }
    }

    .food-truck {
        width: 138px;
    }

    .locations-address__title,
    .locations-address__link,
    .contacts-schedule__day,
    .contacts-schedule__time,
    .detail-contacts__link {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .locations-list__item {
        width: 368px;
    
            &:not(:last-child) {
                margin-right: 32px;
            }
        }

    .locations-address__title,
    .locations-address__link,
    .contacts-schedule__day,
    .contacts-schedule__time,
    .detail-contacts__link {
        font-size: 16px;
    }
}

.contacts-list__item:not(:last-child) {
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 24px;
}

@media screen and (min-width:768px) {
    .contacts-list__item {
        padding-bottom: 32px;
    }
}

.contacts-list__adress {
    border-bottom: none;
}

.contacts__button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 1010px;
    padding-bottom: 39px;
    align-items: center;
}

@media screen and (min-width:768px) {
    .contacts__button {
        flex-direction: row;
        justify-content: center;
        padding-top: 284px;
        padding-bottom: 40px;
    }
}

@media screen and (min-width:1200px) {
    .contacts__button {
        padding-top: 506px;
        padding-bottom: 120px;
    }
}

.contact__button {
    width: 196px;
    height: 42px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
    
       
        align-items: center;
        text-align: center;
    
        color: #131313;
}

.contact__button:hover {
 background: #0A8817;
}

.contact__button:focus {
    color: #FCFCFC;
    background: #0A8817;
}

.contact__button-franchise:hover {
    border-color: #0A8817;
    background: transparent;
}

.contact__button-franchise:focus {
    border-color: #0A8817;
    color: #FCFCFC;
}

.contact__button-location {
background: #F8D24E;
    border-radius: 10px;
    border-color: transparent;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34px;
    padding-right: 34px;
}

.contact__button-franchise {
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    background-color: #84A178;
}

.locations-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -360px;
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (min-width:768px) {
    .locations-list {
        flex-direction: row;
        justify-content: center;
        top: -300px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media screen and (min-width:1200px) {
    .locations-list {
        top: -100px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.contact__container {
    position: relative;
}

.contact__svg {
    margin-left: 10px;
}