.page-footer {
  background-color: #84a178;
}

.page-footer__title_first {
  font-family: 'Montserrat';
  font-style: normal;
  text-transform: uppercase;

  color: #fcfcfc;
}

.page-footer__title_second {
  font-family: 'Montserrat';
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;

  color: #fcfcfc;
}

.social {
  display: flex;
  align-items: center;
  justify-content: end;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  border-radius: 50%;
  fill: #84a178;
  background-color: #f8d24e;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: #fcfcfc;
  }

  &:focus {
    transform: scale(1.03);
    fill: #fcfcfc;
  }

  .page-footer-copyright__title {
    display: block;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
  }
}

@media screen and(max-width: 767px) {
  .page-footer__container {
    padding: 0px 20px 62px 20px;
  }

  .page-footer__title {
    width: 234px;
  }

  .page-footer__title_first {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;

    margin-bottom: 16px;
  }

  .page-footer__title_second {
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.04em;
  }

  .social {
    gap: 28px;
    margin-top: 47px;
  }

  .social__link {
    width: 32px;
    height: 32px;
  }

  .footer-tel {
    display: flex;
    align-items: center;
    justify-content: end;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;

    margin-top: 38px;
    margin-bottom: 40px;
  }

  .footer-tel__title {
    display: block;
    color: #131313;
  }

  .footer-tel__link {
    color: #fcfcfc;
  }

  .page-footer-copyright {
    border-top: 1px solid #e1e1e1;
  }

  .page-footer-copyright__title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;

    text-align: center;

    color: #7a7a7a;

    padding-top: 16px;
    width: 150px;
  }
}

@media screen and(min-width: 768px) {
  .page-footer__container {
    padding: 0px 33px 13px 33px;
  }

  .page-footer__thumb {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__title {
    width: 352px;
  }

  .page-footer__title_first {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;

    margin-bottom: 9px;
  }

  .page-footer__title_second {
    font-size: 48px;
    line-height: 1.23;
    letter-spacing: 0.06em;
  }

  .social {
    gap: 30px;
    margin-top: 68px;
  }

  .social__link {
    width: 34px;
    height: 34px;
  }

  .footer-tel {
    margin-top: 32px;
    margin-bottom: 56px;
    display: flex;
    align-items: center;
    justify-content: end;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
  }

  .footer-tel__title {
    display: block;
    color: #131313;
  }

  .footer-tel__link {
    color: #fcfcfc;
  }

  .page-footer-copyright {
    border-top: 1px solid #e1e1e1;
  }

  .page-footer-copyright__title {
    display: block;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    text-align: center;

    color: #7a7a7a;

    padding-top: 14px;
  }
}

@media screen and(min-width: 1200px) {
  .page-footer__container {
    padding: 0px 16px 11px 16px;
  }

  .page-footer__title {
    width: 504px;
  }

  .page-footer__title_first {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;

    margin-bottom: 14px;
  }

  .page-footer__title_second {
    font-size: 58px;
    line-height: 1.22;
    letter-spacing: 0.06em;
  }

  .social {
    gap: 30px;
    margin-top: 12px;
  }

  .footer-tel {
    margin-top: 40px;
    margin-bottom: 60px;

    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.02em;
  }

  .page-footer-copyright__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    text-align: center;

    color: #7a7a7a;

    padding-top: 12px;
  }
}
