.gallery-reviews {
    background-image: url(../images/gallery-and-customer-reviews/Ice-cream-bg-desktop@2x.png);
    background-size: cover;
}

.customer-reviews {
    margin-top: 75px;
}

@media screen and (min-width:768px) {
    .customer-reviews {
        margin-top: 0px;
        padding-top: 150px;
        padding-bottom: 370px;
    }
}

@media screen and (min-width:1200px) {
    .customer-reviews {
        margin-top: 0px;
        padding-bottom: 220px;
        padding-top: 300px;
    }
}

.reviewer-photo {
    border-radius: 50%;
    justify-content: center;
    width: 85px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -130px;
    left: 50%;
    transform: translate(-50%);


}

@media screen and (min-width:768px) {
    .gallery {
        top: -160;
        left: 50%;
        transform: translate(-50%);
    }
}

@media screen and (min-width:1200px) {
    .gallery {
        top: -100px;
        left: 50%;
        transform: translate(-50%);
    }
}

.slink {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding-top: 75px;
}

.reviewer-text {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 255%;
        /* or 31px */
    
        text-align: center;
    
        color: #FCFCFC;
        background: #84A178;
            border-radius: 24px;
            padding-top: 34px;
            padding-bottom: 34px;
            padding-left: 39px;
            padding-right: 39px;
            width: 280px;
            margin-top: 32px;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
            
}

@media screen and (min-width:768px) {
    .reviewer-text {
        width: 705px;
        font-weight: 500;
        font-size: 14px;
        line-height: 186%;
        padding-top: 29px;
        padding-bottom: 28px;
        padding-left: 80px;
        padding-right: 80px;
        margin-top: 28px;
    }
}

@media screen and (min-width:1200px) {
    .reviewer-text {
        width: 968px;
        font-weight: 500;
        font-size: 16px;
        line-height: 186%;
        padding-top: 39px;
        padding-bottom: 47px;
        padding-left: 109px;
        padding-right: 109px;
        margin-top: 32px;
    }
}

.reviewer-name {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 186%;
        /* identical to box height, or 37px */
    
        text-align: center;
    
        color: #131313;
        margin-top: 30px;
}

@media screen and (min-width:768px) {
    .reviewer-name {
        font-size: 16px;
    }
}

.gallery__picture {
    border-radius: 7.40681px;
}


@media screen and (min-width:768px) {
    .gallery__picture {
        border-radius: 18px;
    }
}

@media screen and (min-width:1200px) {
    .gallery__picture {
            border-radius: 24px;
        }
}

.gallery-reviews__container {
    position: relative;
}

@media screen and (max-width:767px) {
    .gallery-reviews__container {
    padding-bottom: 390px;
    }
}

