@import './common';

@import './base/base';  
@import './base/containers';
@import './utils/variables';
@import './utils/mixins'; 
@import './modal-header';
@import './modal-product';
@import './modal-location';
@import './modal-franchise';
@import './header';
@import './header-hero.scss';
@import './products.scss';
@import './about.scss';
@import './advantages.scss';
@import './gallery-and-customer-reviews.scss';
@import './contacts.scss';
@import './footer.scss';

