:root {
    --accent-color: #F8D24E;
    --background-color-green: #84A178;
    --background-color-light: #FCFCFC;
    --title-color-dark: #131313;
    --title-color-light: #FCFCFC;

    --text-color-dark:  #131313;
    --text-color-middle: #ABABAB;
    --text-color-light:#FCFCFC; 

    --btn-color-default: #F8D24E;
    --btn-color-hover: #0A8817;
    --btn-color-focus: #0A8817;
    --btn-color-disabled: #ABABAB;

    --black: #000000;
    --white: #ffffff;

    --transition-timing-function: 500ms ease-out;
}