<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <span class="advantages__cow icon-advantages"></span>
        <b class="advantages__tit">721</b>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__dumbbell icon-advantages"></span>
        <b class="advantages__tit">16kg</b>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__ice-cream icon-advantages"></span>
        <b class="advantages__tit">84</b>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>