<section class="contacts" id="сontact">
    <div class="container contact__container">
        <h3 class="visually-hidden">Contacts</h3>
        <ul class="locations-list list">
            <li class="locations-list__item">
                <ul class="contacts-list list">
                    <li class="contacts-list__item">
                        <p class="locations-list__title">CAFE</p>
                        <address class="locations-address">
                            <p class="locations-address__title">Chicago</p>
                            <a href="https://goo.gl/maps/uppjVfaK5NmEPpGV7" class="locations-address__link link">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                        </address>
                    </li>
                    <li class="contacts-list__item">
                        <ul class="contacts-schedule list">
                            <li class="contacts-schedule__item-one">
                                <p class="contacts-schedule__day">Monday - Friday</p>
                                <p class="contacts-schedule__time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="contacts-schedule__item-two">
                                <p class="contacts-schedule__day">Saturday - Sunday</p>
                                <p class="contacts-schedule__time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </li>
                    <li class="contacts-list__item contacts-list__adress">
                        <ul class="detail-contacts list">
                            <li class="detail-contacts__item">
                                <a href="tel:+610383766284" class="detail-contacts__link link">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a href="mailto:noreply@envato.com" class="detail-contacts__link link">noreply@envato.com</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="locations-list__item">
                <ul class="contacts-list list">
                    <li class="contacts-list__item">
                        <p class="locations-list__title food-truck">FOOD TRUCK</p>
                        <address class="locations-address">
                            <p class="locations-address__title">Los Angeles</p>
                            <a href="https://goo.gl/maps/VRUbfGSjWtjUmymY8" class="locations-address__link link">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                        </address>
                    </li>
                    <li class="contacts-list__item">
                        <ul class="contacts-schedule list">
                            <li class="contacts-schedule__item-one">
                                <p class="contacts-schedule__day">Monday - Friday</p>
                                <p class="contacts-schedule__time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="contacts-schedule__item-two">
                                <p class="contacts-schedule__day">Saturday - Sunday</p>
                                <p class="contacts-schedule__time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </li>
                    <li class="contacts-list__item contacts-list__adress">
                        <ul class="detail-contacts list">
                            <li class="detail-contacts__item">
                                <a href="tel:+610383766284" class="detail-contacts__link link">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a href="mailto:noreply@envato.com" class="detail-contacts__link link">noreply@envato.com</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="locations-list__item">
                <ul class="contacts-list list">
                    <li class="contacts-list__item">
                        <p class="locations-list__title">CAFE</p>
                        <address class="locations-address">
                            <p class="locations-address__title">New York</p>
                            <a href="https://goo.gl/maps/kChrZyQXtTSAmv9x9" class="locations-address__link link">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                        </address>
                    </li>
                    <li class="contacts-list__item">
                        <ul class="contacts-schedule list">
                            <li class="contacts-schedule__item-one">
                                <p class="contacts-schedule__day">Monday - Friday</p>
                                <p class="contacts-schedule__time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="contacts-schedule__item-two">
                                <p class="contacts-schedule__day">Saturday - Sunday</p>
                                <p class="contacts-schedule__time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </li>
                    <li class="contacts-list__item contacts-list__adress">
                        <ul class="detail-contacts list">
                            <li class="detail-contacts__item">
                                <a href="tel:+610383766284" class="detail-contacts__link link">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a href="mailto:noreply@envato.com" class="detail-contacts__link link">noreply@envato.com</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="contacts__button list">
            <li><button type="button" class="contact__button contact__button-location" data-location-open>Our Locations
                <svg lang="en" aria-label="arrow icon" class="buy-btn__icon" width="12" height="12">
                    <use class="contact__svg" href="./images/header-icons.svg#icon-arrow-btn "></use>
                </svg>
            </button></li>
            <li><button type="button" class="contact__button contact__button-franchise" data-franchise-open>Franchise
                <svg lang="en" aria-label="arrow icon" class="buy-btn__icon" width="12" height="12">
                    <use class="contact__svg" href="./images/header-icons.svg#icon-arrow-btn "></use>
                </svg>
            </button></li>
        </ul>
    </div>
</section>