<footer class="page-footer">
    <div class="container page-footer__container">
        <div class="page-footer__thumb">
            <div class="page-footer__title">
                <p class="page-footer__title_first">homemade ice cream made</p>
                <p class="page-footer__title_second">with passion</p>
            </div>
            <div class="page-footer__contact">
                <ul class="social list">
                    <li class="social__item">
                        <a href="" class="social__link" target="_blank" rel="noreferrer noopener">
                            <svg aria-label="logo github" width="20px" height="20px" class="social__icon">
                                <use href="/src/images/footer-icons.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="" class="social__link" target="_blank" rel="noreferrer noopener">
                            <svg aria-label="logo telegram" width="20px" height="16px" class="social__icon">
                                <use href="/src/images/footer-icons.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="" class="social__link" target="_blank" rel="noreferrer noopener">
                            <svg aria-label="logo facebook" width="9px" height="20px" class="social__icon">
                                <use href="/src/images/footer-icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="footer-tel">
                    <span class="footer-tel__title">Feel free to contact&nbsp;</span><a class="footer-tel__link link"
                        href="tel:+610383766284">+61 (0) 383 766 284</a>
                </div>
            </div>
        </div>
        <div class="page-footer-copyright">
            <p class="page-footer-copyright__title">© 2022 - IceCream. All Rights Reserved.</p>
        </div>
    </div>

</footer>