<section class="gallery-reviews">
  <div class="container gallery-reviews__container">
    <div class="gallery">
       <picture>
        <source
        srcset="./images/gallery-and-customer-reviews/gallery-photo-desktop.png 1x, ./images/gallery-and-customer-reviews/gallery-photo-desktop@2x.png 2x"
        media="(min-width:1200px)"
        />
        <source srcset="./images/gallery-and-customer-reviews/gallery-photo-tablet.png 1x, ./images/gallery-and-customer-reviews/gallery-photo-tablet@2x.png 2x"
        media="(min-width:768px)" />
        <source srcset="./images/gallery-and-customer-reviews/gallery-photo-mobile.png 1x, ./images/gallery-and-customer-reviews/gallery-photo-mobile@2x.png 2x"
        media="(max-width:767px)" />
        <img src="./images/gallery-and-customer-reviews/gallery-photo-desktop.png" alt="Ice-cream-photo" class="gallery__picture" >
       </picture>
    </div>
    <div class="customer-reviews">        
        <div class="slink">
          <div class="reviewer-coments">
            <picture>
              <source srcset="./images/gallery-and-customer-reviews/emily.png 1x, ./images/gallery-and-customer-reviews/emily@2x.png 2x">
            <img src="./images/gallery-and-customer-reviews/emily.png" alt="face" class="reviewer-photo">
            </picture>
            <p class="reviewer-text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful
            serving, cozy atmosphere and polite staff.</p>
            <p class="reviewer-name">Emily, Los Angeles</p>
          </div>
          <div class="reviewer-coments">
            <picture>
              <source srcset="./images/gallery-and-customer-reviews/sam.png 1x, ./images/gallery-and-customer-reviews/sam@2x.png 2x">
            <img src="./images/gallery-and-customer-reviews/sam.png" alt="face" class="reviewer-photo">
            </picture>
            <p class="reviewer-text">I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.</p>
            <p class="reviewer-name">Sam, Los Angeles</p>
          </div>
          <div class="reviewer-coments">
            <picture>
              <source srcset="./images/gallery-and-customer-reviews/diana.png 1x, ./images/gallery-and-customer-reviews/diana@2x.png 2x">
            <img src="./images/gallery-and-customer-reviews/diana.png" alt="face" class="reviewer-photo">
            </picture>
            <p class="reviewer-text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always
            served politely and quickly!</p>
            <p class="reviewer-name">Diana, Chicago</p>
          </div>
        </div>
  </div>
</section>