<section class="gallery-reviews">
  <div class="container">
    <div class="gallery">
       <picture>
        <source
        srcset="./images/gallery-and-customer-reviews/gallery-photo-desktop.png 1x, ./images/gallery-and-customer-reviews/gallery-photo-desktop@2x.png 2x"
        media="(min-width:1200px)"
        />
        <source srcset="./images/gallery-and-customer-reviews/gallery-photo-tablet.png 1x, ./images/gallery-and-customer-reviews/gallery-photo-tablet@2x.png 2x"
        media="(min-width:768px)" />
        <source srcset="./images/gallery-and-customer-reviews/gallery-photo-mobile.png 1x, ./images/gallery-and-customer-reviews/gallery-photo-mobile@2x.png 2x"
        media="(max-width:767px)" />
        <img src="./images/gallery-and-customer-reviews/gallery-photo-desktop.png" alt="Ice-cream-photo" >
       </picture>
    </div>
    <div class="customer-reviews">
        <div class="slink">
        <img src="./images/gallery-and-customer-reviews/emily.png" alt="face" class="reviewer-photo">

        <p class="reviewer-text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful
        serving, cozy atmosphere and polite staff.
        </p>

        <p class="reviewer-name">Emily, Los Angeles</p>
        </div>
    </div>
  </div>
</section>