<section class="hero">
    <div class="container hero__wrap">
        <h1 class="hero__title">ice cream made with <span class="hero__title-upp">passion</span></h1>
        <div class="hero__btn">
            <a href="#products" class="hero__btn-prod">Products</a>
            <a href="#about" class="hero__btn-made">How it’s made?</a>
       </div>
       <div class="hero__img">
        <picture>
            <source srcset="./images/header/ice-cream.webp 1x, ./images/header/ice-cream@2x.webp 2x" media="(min-width: 1200px)"
                type="image/webp" />
            <source srcset="./images/header/ice-cream.png 1x, ./images/header/ice-cream@2x.png 2x" media="(min-width: 1200px)" />
        
            <source srcset="./images/header/ice-cream-tablet.webp 1x, ./images/header/ice-cream-tablet@2x.webp 2x"
                media="(min-width: 768px)" type="image/webp" />
            <source srcset="./images/header/ice-cream-tablet.png 1x, ./images/header/ice-cream-tablet@2x.png 2x"
                media="(min-width: 768px)" />
        
            <source srcset="./images/header/ice-cream-mobile.webp 1x, ./images/header/ice-cream-mobile@2x.webp 2x"
                media="(max-width: 767px)" type="image/webp" />
            <source srcset="./images/header/ice-cream-mobile.png 1x, ./images/header/ice-cream-mobile@2x.png 2x"
                media="(max-width: 767px)" />
        
            <img src="./images/header/ice-cream-mobile.png" alt="Рожок морозива">
        </picture>
       </div>
       <div class="hero__about">
            <p class="hero__number">16</p>
            <p class="hero__info">cafes</p>
            <p class="hero__number">23</p>
            <p class="hero__info">food trucks</p>
       </div>
       <div class="hero-cart">
           <div class="hero-cart__img">
            <picture>
                <source srcset="./images/header/dish-ice.webp 1x, ./images/header/dish-ice@2x.webp 2x" media="(min-width: 1200px)"
                    type="image/webp" />
                <source srcset="./images/header/dish-ice.png 1x, ./images/header/dish-ice@2x.png 2x"
                    media="(min-width: 1200px)" />
            
                <source srcset="./images/header/dish-ice-tablet.webp 1x, ./images/header/dish-ice-tablet@2x.webp 2x"
                    media="(min-width: 768px)" type="image/webp" />
                <source srcset="./images/header/dish-ice-tablet.png 1x, ./images/header/dish-ice-tablet@2x.png 2x"
                    media="(min-width: 768px)" />
            
                <img src="./images/header/dish-ice-tablet.png" alt="Тарілка з різним кольоровим морозивом">
            </picture>
            </div>
            <div class="hero-cart__disc">
                <p class="hero-cart__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="hero-cart__btn">
                    <svg lang="en" aria-label="arrow icon" class="hero-cart__icon" width="40" height="20">
                        <use href="./images/header-icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>
       </div>
    </div>
</section>