<!-- mobal header -->
<div class="bacrdrop">
    <div class="modal-header">
        <button type="button" class="modal-header-close-btn">
            <svg class="modal-header-close-icon" width="16" height="16">
                <use href=""></use>
            </svg>
            <q class="name-form">Buy now</q>
        </button>
        <ul class="order list">
            <li class="order-list__order">
                <p class="text-order">ice cream</p>
            </li>
            <li class="order-list__order">
                <p class="text-order">ice coffee</p>
            </li>
            <li class="order-list__order">
                <p class="text-order">milkshake</p>
            </li>
        </ul>
        <form class="contact-form">
            <label class="modal-form-field">
                <input type="text" class="contact-form-input" required pattern="[a-zA-Zа-яА-ЯіІїЇ`']+" name="user-name"
                    placeholder="Name" />
            </label>
            <label class="modal-form-field">
                <input type="tel" class="contact-form-input" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                    title="xxx-xxx-xx-xx" name="name-phone" placeholder="Phone" />
            </label>
            <label class="modal-form-field-coment">
                <textarea name="user-message" class="contact-form-message" placeholder="Comment"></textarea>
            </label>
            <button type="submit" class="contact-form-submit">Submit</button>
        </form>
    </div>
</div>