
<div class="backdrop is-hidden" data-franchise>
    <div class="modal-franchise">
        <button type="button" class="modal-franchise__close-btn" data-franchise-close>
            <svg class="modal-franchise__close-icon" width="20" height="20">
                <use href="./images/modale-location/sprite-franchize.svg#icon-icon-close-franchize"></use>
            </svg>
        </button>
        <p class="modal-franchise__title">Thank you for your interest in owning an Ice Cream shop</p>
        <p class="modal-franchise__text">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.</p>
        <form class="franchise-form">
            <label class="franchise-form__field">
                    <input type="text"
                    placeholder="Name"
                    class="franchise-form__input"
                    required
                    name="user_name">
            </label>
            <label class="franchise-form__field">
                <input type="text"
                placeholder="Phone"
                class="franchise-form__input"
                required
                name="user_phone">
        </label>
        <label class="franchise-form__field">
            <input type="text"
            placeholder="Email"
            class="franchise-form__input"
            required
            name="user_email">
    </label>
    <label class="franchise-form__comments">
        <textarea
                    name="user_comments"
                    class="franchise-form__area"
                    placeholder="Comment">
                </textarea>
    </label>
    <button type="submit" class="franchise-form__send">Submit</button>
        </form>
    </div>
</div>
